@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');
:root{
    --cor-principal:rgb(10, 10, 10);
    --cor-secundaria: whitesmoke;
    --cor-tercearia: #22D4FD;
    --cor-destaque: orange;
    --fonte_principal: "Montserrat", serif;
    --fonte-titulo: "Krona One", serif;
}

*{
    margin: 0;
    padding: 0;
}
body{
    background-color:var(--cor-principal);
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}


#cabecalho{
    display: flex;
    justify-content: center;
    gap:24px;
    width: 100vw;
    padding-top:4vh;
    height: 6vh;
}


#cabecalho a{
    color: var(--cor-tercearia);
    text-decoration: none;
    font-weight: 600;
    text-align: center;
    font-family: var(--fonte_principal);
}

#cabecalho a:hover{
    color: var(--cor-destaque);
}


#flex-container{
    display: flex; 
    gap: 3px;
    width: 100vw;
    min-height: 80vh;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

#flex-content{
    width: 395px;
    margin: 15px;  
}


h1{
    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    margin: 0;
}
h1 >  strong{
    color:  var(--cor-tercearia);
    }
    
h1,h2, p, a{
    color:var(--cor-secundaria);
    text-align: justify;
}
p, .botoes{
    margin-top: 15px;
   font-family: var(--fonte_principal);
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botoes{
border:2px, var(--cor-secundaria), solid;
display: flex;
justify-content:center;
align-items: center;
width: 216px;
height: 22px;
margin: 10px;
padding:5px;
text-decoration: none;
border-radius: 5px;
font-weight: 600;
gap:16px;

}

.botoes:hover{
    background-color: var(--cor-destaque);
}

 img{
    border:3px,var(--cor-destaque),solid;
    padding: 5px;
    max-width: 209px;
    height: 260px;

}
#rodape{
    width: 100%;
    background-color: var(--cor-tercearia);
}


#rodape p{
    padding-top: 2.8vh;
    font-weight: 600;
    height: 5.5vh;
    color:var(--cor-secundaria);
    text-align: center;
    font-family: var(--fonte_principal);
}

@media(max-width:700px){
    #cabecalho{
        margin-top: 20px;
        
    }


}
